$cardsAndFooterBackgroundColor: #3b3f50;
$headersTextColor: white;
$bodyBackgroundColor: #21232e;
$textColor: white;
$lightGrayColor: gainsboro;
$buttonsAndBannersLeft: #e1aa01;
$bannersRight: #932d52;
$underlineColor: #ff4e33;
$backgroundImg: url('../img/m-h-night.jpg');