$cardsAndFooterBackgroundColor: #262632;
$headersTextColor: #262632;
$bodyBackgroundColor: white;
$textColor: white;
$lightGrayColor: gainsboro;
$buttonsAndBannersLeft: #6B9B04;
$bannersRight: #2c5ada;
$underlineColor: #14A0C7;
$backgroundImg: url('../img/m-h-day.jpg');