$headerFontFamily: "Arial Black", Gadget, sans-serif;

$backgroundImage: url('../img/background.jpg');

$btnColor: rgb(184, 65, 36);
$btnFontColor: rgb(15, 2, 2);
$headerTextColor: rgb(190, 54, 54);
$contentColor: rgb(209, 137, 54);
$contentAndResultBackColor: rgba(222, 184, 135, 0.212);
$hoverBackColor: rgb(211, 110, 85);
$textColor: rgb(211, 77, 43);
$userChoiseColor: rgb(219, 193, 143);
$compChoiseColor: rgb(219, 165, 143); 
$resultColor: rgb(197, 60, 42);
$spanColor: rgb(207, 192, 192);
$btnsBackColor: rgba(169, 169, 169, 0.493);
$h2Color: rgb(197, 60, 42);